.button {
	pointer-events: auto; 
	font-family: "Shark_Party";
	font-size: 20px;
	color: white;
	background: #33b5e5;
	border-radius: 4px;
	box-shadow: 2px 2px 0px rgba(0,135,204,1);
}

.button:ACTIVE {
	margin-left: 2px;
	margin-top: 2px;
	box-shadow: 0px 0px 0px rgba(0,0,0,1);
}

.disabledButton {
	pointer-events: none; 
	font-family: "Shark_Party";
	font-size: 20px;
	color: white;
	background: #d3d3d3;
	border-radius: 4px;
	box-shadow: 2px 2px 0px rgba(102,102,102,1);
}